<h2><%= admin.name %></h2>

<p><a href="mailto:<%= admin.email %>"><%= admin.email %></a></p>

<p>负责模块：<%= admin.typeName %></p>

<p>
  QQ：<%= admin.qq %>
  <a class="qq-contact" href="http://wpa.qq.com/msgrd?v=3&uin=<%= admin.qq %>&site=qq&menu=yes"><img class="qq-image"/></a>
</p>

<hr>

<p >
  <a href="javascript:history.back()" class="btn btn-default">返回</a>
</p>

